{% extends 'base.html' %}
{% block title %} {{ event.event_name }} {% endblock %}
{% load static %}
{% block content %}



<a class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#FossilEventAddModal">Add fossil</a>
  
  <div class="modal fade" id="FossilEventAddModal" tabindex="-1" aria-labelledby="FossilEventAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-5" id="FossilEventAddModalLabel">{{ event.event_name }}: add a fossil</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_fossil_add.as_p }}
                <button class="save btn btn-sm btn-outline-secondary" type="submit" name='fossil_add'>Add</button> <a class="btn btn-sm btn-outline-secondary" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
            </form>
        </div>
      </div>
    </div>
  </div>


<a class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#Update_Popup_Modal">Update event</a>

    <div class="modal fade" id="Update_Popup_Modal" tabindex="-1" aria-labelledby="Update_Popup_ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title fs-5" id="Update_Popup_ModalLabel">Update {{ event.event_name }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_event_update.as_p }}
                    <button class="save btn btn-sm btn-outline-secondary" type="submit" name='form_update'>Update</button> <a class="btn btn-sm btn-outline-secondary" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                </form>
            </div>
        </div>
        </div>
    </div>    

<a class="btn btn-sm btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#Delete_Popup_Modal">Delete event</a>





<div class="modal fade" id="Delete_Popup_Modal" tabindex="-1" aria-labelledby="Delete_Popup_ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title fs-5" id="Delete_Popup_ModalLabel">Delete {{ event.event_name }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger text-center" role="alert">
                <strong>Are you sure you want to delete {{ event.event_name }}?</strong>

            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button class="save btn btn-sm btn-outline-danger" type="submit" name='form_delete'>Delete</button> <a class="btn btn-sm btn-outline-secondary" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
            </form>
        </div>
        </div>
    </div>
</div>


<hr>

<h2 class="text-center">{{ event.event_name }}</h2>
<p class="text-center mb-4" style="font-size: small;">{{ event.event_date|date:'Y.m.d' }}</p>




{% if fossils %}
<table class="table table-hover table-sm" style="font-size: small;">
    <thead>
        <tr>
            <th class="h5 text-center p-3" scope="col" colspan="5">Fossils</th>
        </tr>
      <tr>
        <th>Update</th>
        <th scope="col">Fossil</th>
        <th scope="col">Date lent</th>
        <th scope="col">Date returned</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
    {% for fossil_event in fossils %}
      <tr>
        <td><a class="btn btn-sm" href="{% url 'fossil-event-update' fossil_event.id %}">⚙️</a></td>
        <td><a href="{% url 'fossil-selected' fossil_event.fossil.id %}" style="text-decoration: none;">{{ fossil_event.fossil.fossil_name }}</a></td>
        <td>{{ fossil_event.fossil_lending_date|date:'Y.m.d' }}</td>
        <td>{% if fossil_event.fossil_lending_date_returned %}{{ fossil_event.fossil_lending_date_returned }}{% else %}<a href="{% url 'fossil-event-return' fossil_event.id %}" style="text-decoration: none;">Return</a>{% endif %}</td>
        <td>{{ fossil_event.fossil_lending_notes|slice:20 }}</td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
{% endif %}


{% if event.event_notes %}
  <hr>
  <p><strong>Notes</strong>: {{ event.event_notes|linebreaks }}</p>
  <br>
{% endif %}


{% endblock %}
