{% extends 'base.html' %}
{% block title %} Delete {{ fossil_to_delete.fossil_name }} {% endblock %}
{% load static %}
{% block content %}

<h1>Delete fossil</h1>
  <p>Are you sure you want to delete {{ fossil_to_delete.species_name }}?</p>
  <form method="POST" action="{% url 'fossil-delete' fossil_to_delete.id %}">
    {% csrf_token %}
    <button class="save btn btn-sm btn-outline-danger" type="submit">Delete</button> <a class="btn btn-sm btn-outline-primary" href="{% url 'fossil-selected' fossil_to_delete.id %}">Cancel</a>
</form>

{% endblock %}