{% extends 'base.html' %}
{% block title %} {{ fossil.fossil_name }} {% endblock %}
{% load static %}
{% block content %}

<h2 class="text-center">{{ fossil.fossil_name }} {% if fossil.fossil_is_favourite %}⭐{% endif %}</h2>
<p><a class="btn btn-sm btn-outline-primary" href="{% url 'fossil-update' fossil.id %}">Update</a> <a class="btn btn-sm btn-outline-danger" href="{% url 'fossil-delete' fossil.id %}">Delete</a></p>


<p>
    <a class="btn btn-sm btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#Update_Popup_Modal">Update (popup)</a>
    <a class="btn btn-sm btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#Delete_Popup_Modal">Delete (popup)</a>
</p>
        <div class="modal fade" id="Update_Popup_Modal" tabindex="-1" aria-labelledby="Update_Popup_ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title fs-5" id="Update_Popup_ModalLabel">Update {{ fossil.fossil_name }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form_fossil_update.as_p }}
                        {{ form_fossil_update.media }}
                        <button class="save btn btn-sm btn-outline-primary" type="submit" name='fossil_update'>Update</button> <a class="btn btn-sm btn-outline-primary" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                    </form>
                </div>
            </div>
            </div>
        </div>    

        <div class="modal fade" id="Delete_Popup_Modal" tabindex="-1" aria-labelledby="Delete_Popup_ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fs-5" id="Delete_Popup_ModalLabel">Delete {{ fossil.fossil_name }}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <strong>Are you sure you want to delete this fossil?</strong>
                        <br><br>{{ fossil.fossil_name }}
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="save btn btn-sm btn-outline-danger" type="submit" name='fossil_delete'>Delete</button> <a class="btn btn-sm btn-outline-primary" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
                    </form>
                </div>
                </div>
            </div>
        </div>

<form method="POST">
    {% csrf_token %}
    <button class="save btn btn-sm btn-outline-primary" type="submit" name='fossil_favourite'>Favourite (on click)</button>
</form>
<br>



<a class="btn btn-sm btn-outline-primary" data-bs-toggle="collapse" href="#collapse_Send_Email" role="button" aria-expanded="false" aria-controls="collapse_Send_Email" style="text-decoration: none;">Send fossil ▼</a>
<div class="collapse" id="collapse_Send_Email">
    <div class="card card-body p-1 border-0">
        <form method="POST">
            {% csrf_token %}
            {{ form_send_email.as_p }}
            <button class="save btn btn-sm btn-outline-primary" type="submit" name='send_email'>Send</button>
        </form>
    </div>
</div>


{% if fossil.fossil_image %}
    <a href="{{ fossil.fossil_image.url }}" target="_blank"><img class="img rounded mb-3" src="{{ fossil.fossil_image.url }}" alt="" style="max-width: 100px; max-height: 100px;"></a>
{% endif %}

{% if fossil.fossil_image_resized %}
    <a href="{{ fossil.fossil_image_resized.url }}" target="_blank"><img class="img rounded mb-3" src="{{ fossil.fossil_image_resized.url }}" alt="" style="max-width: 100px; max-height: 100px;"></a>
{% endif %}
<br><br>
{% if fossil.fossil_public_url %}
    <p><a href="{{ fossil.fossil_public_url.url }}" target="_blank" style="text-decoration: none;">🌐 Website</a></p>
{% endif %}

<p><strong>Species: </strong><a href="{% if fossil.fossil_species %}{% url 'species-selected' fossil.fossil_species.id %}{% endif %}" style="text-decoration: none;">{{ fossil.fossil_species|default:'-' }}</a></p>

<p><strong>Status: </strong>{{ fossil.fossil_status }}</p>

{% if fossil.fossil_age_in_years %}
    <p><strong>Age: </strong>{{ fossil.fossil_age_in_years }} year{{ fossil.fossil_age_in_years|pluralize }} ({{ fossil.fossil_age_mln }})</p>
{% endif %}

<p><strong>Value: </strong>{{ fossil.fossil_value|default:'0' }}</p>

<p><strong>Condition: </strong>{{ fossil.fossil_condition }}</p>

{% if fossil.fossil_date_acquired %}<p><strong>Date acquired: </strong>{{ fossil.fossil_date_acquired|date:'Y.m.d' }} ({{ fossil.fossil_collected_days_ago }} days ago)</p>{% endif %}

{% if fossil.fossil_size %}<p><strong>Size: </strong>{{ fossil.fossil_size }}</p>{% endif %}
{% if fossil.fossil_weight %}<p><strong>Weight: </strong>{{ fossil.fossil_weight }}</p>{% endif %}

<p><strong>Location: </strong>{{ fossil.fossil_location|default:'' }} 
    {% if fossil.fossil_location_latitude or fossil.fossil_location_longitude %}
        ({{ fossil.fossil_location_latitude|default:'' }} {{ fossil.fossil_location_longitude|default:'' }})
    {% endif %}
</p>

<p><strong>Collector's details: </strong>{{ fossil.fossil_collector }}</p>

<small>Created: {{ fossil.fossil_entry_created }}<br>Updated: {{ fossil.fossil_entry_updated }}</small>

{% if fossil.associated_fossils.all|length != 0 %}
    <hr>
    <div class="container-fluid mb-3"><strong>Associated fossils:</strong>
        {% for associated in fossil.associated_fossils.all %}
            <a class="btn btn-sm btn-outline-primary shadow-sm pt-0 pb-0" href="{% url 'fossil-selected' associated.id %}" style="font-size: x-small;">{{ associated }}</a>
        {% endfor %}
    </div>
    <hr>
{% endif %}

{% if fossil.fossil_description_short %}
    <div class="container-fluid w-100 border mb-3">
        <p><strong>Short description: </strong>
        <small>{{ fossil.fossil_description_short|safe }}</small>
        </p>
    </div>
{% endif %}

{% if fossil.fossil_description_detailed %}
    <div class="container-fluid w-100 border mb-3">
        <p><strong>Detailed description: </strong>
        <small>{{ fossil.fossil_description_detailed|safe }}</small>
        </p>
    </div>
{% endif %}

{% endblock %}
