{% extends 'base.html' %}
{% block title %} Gatherings {% endblock %}
{% load static %}
{% block content %}




<a class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#AddGatheringModal">➕ gathering</a>

<a class="btn btn-sm btn-outline-secondary" href="{% url 'timeline-show' %}">Timeline</a><br>
  
  <div class="modal fade" id="AddGatheringModal" tabindex="-1" aria-labelledby="AddGatheringModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title fs-5" id="AddGatheringModalLabel">Add a new gathering event</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_gathering_add.as_p }}

      
            <button class="save btn btn-sm btn-outline-secondary" type="submit">Add</button> <a class="btn btn-sm btn-outline-secondary" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>



<hr>
<h2 class="text-center mb-4">Gathering events</h2>


{% if user_gatherings %}
  <table class="table table-hover table-sm table-responsive" style="font-size: small;">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Time</th>
          <th scope="col">Duration</th>
          <th scope="col">PDF</th>
          <th scope="col">Slug</th>
        </tr>
      </thead>
      <tbody>
      {% for gathering in user_gatherings %}
        <tr>
          
          <td><a href="{% url 'gathering-selected' gathering.id %}" style="text-decoration: none;">{{ gathering.gathering_name }}</a></td>

        <td>{{ gathering.gathering_date|date:'Y.m.d' }}</td>

        <td>{% if gathering.gathering_image %}
          <img src="{{ gathering.gathering_image.url }}" alt="" style="max-width: 30px; max-height: 20px;">
          {% else %} - {% endif %}</td>

        <td>{{ gathering.gathering_description|default:'-' }}</td>
        <td>{{ gathering.gathering_location|default:'-' }}</td>
        <td>{{ gathering.gathering_location_geological_time|default:'-' }}</td>
        <td>{{ gathering.gathering_duration|default:'-' }}</td>
        <td>{% if gathering.gathering_pdf %}🟢{% else %}🔴{% endif %}</td>
        <td>{{ gathering.gathering_slug }}</td>


        </tr>

      {% endfor %}
      </tbody>
    </table>
{% endif %}



{% endblock %}


