{% extends 'base.html' %}
{% block title %} Fossils homepage! {% endblock %}
{% load static %}
{% block content %}

<h2 class="text-center mb-4">Species</h2>
<hr>

{% if species %}
  <table class="table table-hover table-sm" style="font-size: small;">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Status</th>
          <th scope="col">Species</th>
          <th scope="col">Fossils</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
      {% for specie in species %}
        <tr {% if forloop.counter|divisibleby:2 %} style="background: rgb(221, 221, 221);"{% endif %}>
          <td>
            <img {% if specie.species_image %} src="{{ specie.species_image.url }}" {% else %} src="{% static 'project/default.png' %}"{% endif %} alt="" style="max-width: 40px; max-height: 30px;">
          </td>
          <td><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="{% if specie.species_is_archived %}red{% else %}green{% endif %}" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg></td>
          <td>{{ forloop.counter }} - <a href="{% url 'species-selected' specie.id %}" style="text-decoration: none;">{{ specie.species_name }}</a></td>
          <td>{{ specie.num_fossils }}</td>
          <td><a type="button" data-bs-toggle="modal" data-bs-target="#_full_note_{{ forloop.counter }}Modal" style="text-decoration: none;">{{ specie.species_description|slice:50 }}</a></td>
        </tr>
        <div class="modal fade" id="_full_note_{{ forloop.counter }}Modal" tabindex="-1" aria-labelledby="_full_note_{{ forloop.counter }}ModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title fs-5" id="_full_note_{{ forloop.counter }}ModalLabel">Description</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{ specie.species_description }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </tbody>
    </table>
{% endif %}

{% if fossils_without_specie %}
  <strong>Fossils with no species:</strong>
  {% for fossil in fossils_without_specie %}
      <a class="btn btn-sm btn-outline-secondary shadow-sm pt-0 pb-0" href="{% url 'fossil-selected' fossil.id %}" style="font-size: x-small;">{{ fossil }}</a>
  {% endfor %}
{% endif %}

{% endblock %}


