{% extends 'base.html' %}
{% block title %} Fossils homepage! {% endblock %}
{% load static %}
{% block content %}

<h2 class="text-center mb-4">Species</h2>

<nav aria-label="Navigation">
  <ul class="pagination justify-content-center mt-3 mb-3 text-center">
    {% if species.has_previous %}
      <li class="page-item"><a class="page-link" href="?page=1">&lt;&lt;</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ species.previous_page_number }}">&lt;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link">&lt;&lt;</a></li>
      <li class="page-item disabled"><a class="page-link">&lt;</a></li>
    {% endif %}
  
    <li class="page-item dropdown">
      <button class="btn dropdown-toggle border rounded-0" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 150px">
        {{ species.number }} / {{ species.paginator.num_pages }}
      </button>
      <ul class="dropdown-menu">
        {% for page_num in species.paginator.page_range %}
          {% if page_num == species.number %}
            <li><a class="dropdown-item active" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% else %}
            <li><a class="dropdown-item" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    
    {% if species.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ species.next_page_number }}">&gt;</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ species.paginator.num_pages }}">&gt;&gt;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">&gt;</a></li>
      <li class="page-item disabled"><a class="page-link" href="#">&gt;&gt;</a></li>
    {% endif %}
  </ul>
</nav>



{% if fossils_without_specie %}
  <a class="btn btn-outline-secondary position-relative" type="button" data-bs-toggle="offcanvas" href="#offcanvasNoSpecie" role="button" aria-controls="offcanvasNoSpecie">
    <img src="{% static 'project/fossil.png' %}" style="width: 30px;">
    <figcaption class="text-center ps-1 pe-1" style="font-size: small;">Fossil{{ fossils_without_specie.count|pluralize }} without species</figcaption>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ fossils_without_specie.count }}</span>
  </a>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNoSpecie" aria-labelledby="offcanvasNoSpecieLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNoSpecieLabel">Fossils without species</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      {% for fossil in fossils_without_specie %}
        <a class="btn btn-sm btn-outline-secondary shadow-sm pt-0 pb-0" href="{% url 'fossil-selected' fossil.id %}">{{ fossil }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}


<hr>

{% if species %}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 h-100 g-3" data-masonry='{"percentPosition": true }'>
    {% for specie in species %}
      <div class="col text-center">
        <div class="card p-0 border-0 shadow h-100" style="width: 100%; height: 100%;">
          <div class="container card-header p-0 shadow-sm bg-white" style="position: relative; display: flex; align-items: center; justify-content: center;">
            <a href="{% url 'species-selected' specie.id %}">

              <img {% if specie.species_image %}src="{{ specie.species_image.url }}"{% else %}src="{% static 'project/default.png' %}"{% endif %} alt="..." class="img-fluid rounded-0">

              <div style="position: absolute; top: 4px; left: 8px;">
                <span class="badge bg-light text-black"> {{ specie.calculate_number_of_fossils }}</span>
              </div>
              
              <div style="position: absolute; top: 4px;  right: 8px;">
                {% if specie.species_is_archived %}🔴{% else %}🟢{% endif %}
              </div>
              
              {% if specie.total_fossil_value != 0 %}
                <div style="position: absolute; bottom: 4px;  left: 8px;">
                  <span class="badge bg-dark text-white">£ {{ specie.total_fossil_value }}</span>
                </div>
              {% endif %}
              
              {% if specie.species_description %}
                <div style="position: absolute; bottom: 4px; right: 8px;">
                  <span class="badge bg-dark">📝</span>
                </div>
              {% endif %}

            </a>
          </div>
          
          <div class="card-body p-0 h-100">
            <small style="font-weight: bold;">
              <a href="{% url 'species-selected' specie.id %}" style="text-decoration: none; color: black;">{{ specie.species_name }}</a>
            </small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>



{% endif %}







{% endblock %}


