{% extends 'base.html' %}
{% block title %} Update {{ species_to_update.species_name }} {% endblock %}
{% load static %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form_species_update.as_p }}
    {{ form_species_update.media }}
    <button class="save btn btn-sm btn-outline-primary" type="submit">Update</button> <a class="btn btn-sm btn-outline-primary" href="{% url 'species-selected' species_to_update.id %}">Cancel</a>
</form>

{% endblock %}