{% extends 'base.html' %}
{% block title %} Delete {{ species_to_delete.species_name }} {% endblock %}
{% load static %}
{% block content %}

<h1>Delete species</h1>
  <p>Are you sure you want to delete {{ species_to_delete.species_name }}?</p>
  <form method="POST" action="{% url 'species-delete' species_to_delete.id %}">
    {% csrf_token %}
    <button class="save btn btn-sm btn-outline-danger" type="submit">Delete</button> <a class="btn btn-sm btn-outline-secondary" href="{% url 'species-selected' species_to_delete.id %}">Cancel</a>
</form>

{% endblock %}