{% extends 'base.html' %}
{% block title %} About Me - Fossil Hunter and Collector {% endblock %}
{% load static %}
{% block content %}

<h1>About Me</h1>
<p>I'm a fossil hunter and collector located in northeast Scotland with many years of experience. I've been fascinated by fossils since I was a child, and I've spent my life exploring the Scottish countryside in search of these ancient treasures.</p>
<p>Over the years, I've amassed an impressive collection of fossils from all over Scotland, including rare specimens that are hard to find anywhere else. I'm passionate about sharing my knowledge and expertise with others, and I love nothing more than introducing people to the wonders of the prehistoric world.</p>
<p>If you're interested in learning more about fossils, or if you're looking to add to your own collection, please don't hesitate to get in touch. I'm always happy to chat with fellow fossil enthusiasts.</p>

{% endblock %}


